@import '../../theme/palette';
@import '../../theme/animations';

.wall {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  padding: 55px 15px 15px;
  background-color: $paletteColor3;

  .greet {
    color: $paletteColor24;
    text-shadow: 5px -3px 4px rgba(178, 157, 153, 0.76);
    font-size: 2em;
    font-family: 'Open-Sans', sans-serif;
    letter-spacing: 3px;
    font-weight: 900;
    transition: letter-spacing 2s;
    &:hover {
      letter-spacing: 5px;
      cursor: default;
    }
  }
  .userInStart {
    transform: scale(.5);
    opacity: .01;
  }

  .userInEnd {
    transform: scale(1);
    transition: opacity 700ms $cubic1,
    transform 700ms $cubic1;
    opacity: 1;
  }

  .userOutStart {
    transform: rotate3d(0, 0, 0, 0) translate(0, 0);
    opacity: 1;
  }

  .userOutEnd {
    transform: rotate3d(3, 2, 1, 107deg) translate(1250px, -110px);
    transition: opacity 600ms $cubic2, transform 600ms $cubic2;
    opacity: .01;
  }
}