@keyframes pugdancing {
    0% {
        top: 0;
        left: 5px;
    }
    25% {
        top: 10px;
        left: 10px;
    }
    50% {
        top: 0;
        left: 15px;
    }
    75% {
        top: 10px;
        left: 10px;
    }
    100% {
        top: 0;
        left: 5px;
    }
}
